
:root {
  --white: #ffffff;
  --redcolor: #FD5750;
  --textColor: #272727;
}

.mainWrapper {
  color: var(--textColor);
}

.mainImage {
  position: relative;
  background: url('../../assets/heroImage.png') no-repeat;
  background-size: cover;

  & > div {
    width: 80%;
    max-width: 1217px;
    margin: 0 auto;
  }
}

.mainImageInnerwrapper {
  display: flex;
  padding-top: 115px;
  padding-bottom: 150px;

  & > div:first-child {
    width: 60%;
  }

  & > div:nth-child(2){
    width: 40%;
  }

  & h1 {
    margin-bottom: 62px;
    font-size: 9rem;
    font-weight: 300;
    color: var(--white);
  }

  & p {
    color: var(--white);
    font-size: 2rem;
  }
}

.mainImageInnerwrapper div:first-child div:nth-child(2)){
  padding-right: 10vw;
}
/*  end horiz menu */



/* section */
.theserverlessmovement {
  display: flex;
}

.col {
  width: 50%;

  p {
    color: var(--textColor);
  }
}

.innerWrapper {
  display: flex;
  width: 80%;
  max-width: 1217px;
  margin: 0 auto;
}

.itemBlock {
  width: 50%;
}


section {
  & h2 {
    position: relative;
    font-size: 4.8rem;
    font-weight: 300;
  }

  & h2:after {
    position: absolute;
    display: block;
    content: '';
    top: -16px;
    left: -20px;
    background: url('../../assets/reddotgrid.svg') no-repeat;
    width: 98px;
    height: 38px;
  }

  &.theserverlessmovement {
    padding-top: 242px;
  }
}
