:local(#header) {
  background: #272727;
  color: #ffffff;
}

:local(.link) {
  color: orange;
}

:local(.linkActive){
  background: url('../../assets/slash.svg') no-repeat;
}

:local(.navRight ul){
  display: flex;
  list-style: none;
}

:local(.link a){
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 0 20px;
  text-transform: lowercase;
}

:local(.link a:hover){
  background: url('../../assets/slash.svg') no-repeat;
}

:local(.toggle){
  display: none;
}

:local(.container){
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  width: 80%;
  max-width: 1115px;
  margin: 0 auto;
}
